.panel {
  flex: 2;
  min-width: 300px;
  padding: 20px;
  background-color: rgba(36, 33, 33, 0.8);
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
